@font-face {
    font-family: panton;
    src: url(../fonts/panton.ttf)
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: panton;
}
/* book meni */
.book_contact {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: #fff;
    opacity: .95;
    
}

.contact_form_show {
    
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: #fff;
    opacity: .95;
    
}


.book_contact .message_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: absolute;
	z-index: 3;
	margin-top: 120px;
}

.message_form h1{
    margin-top: 10px;
}
.message_form h1, .message_form p, .message_form input, .message_form textarea {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 216px;
    padding: 8px 0 8px 10px;
    font-family: panton;
    
}
.message_form a{
    width: 216px;
    background-image: linear-gradient(#6AB04C, #BADC58);
    height: 23px;
    text-align: center;
    border-radius: 10px;
    color:#fff;
    
    
}
.message_form a:hover{
    color: #181818;
}
/* book menu end */
/* thank you start */
a.send{
	background-color: #7EC4CE;
	padding: 10px;
	color: #fff;
	margin: 10px;
}
a.send:hover{
	color: #666;
	animation: fadeIn .5s forwards;
}
.check {
    display: none;
    margin-top: 350px;
}

.form_h1 {
    position: relative;
    z-index: 999;
}

.form_p {
    position: relative;
    z-index: 999;
}


.last-check {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    text-align: center;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	
}
.ty {
	padding: 10px 0;
}
/* thank you end */
header {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-left: 11%;
    margin-bottom: -45px;
    z-index: 55;
    margin-top: 10px;
}
.navnav{
    position: relative;
    z-index: 60;
}


.headnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    color: #181818;
    position: relative;
    z-index: 60;

}

.carss,
.terms,
.contact,
.book {
    color: #181818;
}


.carss:hover {
    color: #6AB04C;
    transition: 300ms color ease;
}

.terms:hover {
    color: #6AB04C;
    transition: 300ms color ease;
}

.contact:hover {
    color: #6AB04C;
    transition: 300ms color ease;
}

.book:hover {
    background-image: linear-gradient(#6AB04C, #BADC58);
    transition: 300ms color ease;
    color: #FFF
}

.book {
    padding: 15px 0 15px 0;
    border-radius: 30px;
    border: 2px solid #6AB04C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
    


    
}

.flex1 {
    flex: 1;
}

.bmenu {
    display: none
}

.heromain::before {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    background: #E8F0F3;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heromain {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: -7%
}



.hero-content::before {
    content: 'nodmotors';
    display: block;
    width: 100%;
    position: relative;
    top: calc(50% - 50px);
    font-size: 250px;
    font-family: panton;
    opacity: .6;
    color: #fff;
    text-align: center;
    text-shadow: 0 8px 11px rgba(24, 24, 24, .06);
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    position: relative;
    font-size: 30px;
    margin-left: -60%;
    margin-top: -30px;

}

.hero-content p {
    position: relative;
    margin-left: -69%;
    margin-bottom: -60px;
    color: #fff;
    font-size: 14px;
}

/* blue border remove */
select:focus{
    background-color:#FFF;
    outline:none;
    border:none;
    box-shadow:none;
}
/* dropdown arrow */
/* .dropdown { 
    -webkit-appearance: none;
    -moz-appearance: window;
    padding: 2px 50px 2px 2px;
    border: 1px solid red;
    background-image: url("");
   background-repeat: no-repeat;
   background-position: right center;  
  } */

.specs {
    display: flex;
    justify-content: space-between;
   
    margin-top: -50px;
    width: 55%
}

.specs li {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
}

.hero1 {
    color: #6AB04C;
    font-size: 12px;
}

.hero2 {
    font-size: 30px;
}




.scroll {
    width: 88%
}

.scrolldown {
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: linear-gradient(#6AB04C, #BADC58);

}

a.scrolldown {

    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 25px;
}

.carmenu {
    display: flex;
    flex-direction: column;

    margin-top: 9.6%
}

h4 {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 3%;
}

.h4-p {
    font-size: 10px;
    color: #95A5A6;
    margin-left: 10%;


}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
    margin-left: 9%;
}

.first-filter {
    display: flex;
    justify-content: space-between;
    width: 532px;
}

.Second-filter {
    position: relative;
    margin: 0 10px;
    width: 164px;
    height: 40px;
}

.Second-filter.add{
    margin-right: 5%
}

.Second-filter.add select {
    width: 59%;

}
div select:hover{
    background-image: linear-gradient(#6AB04C, #BADC58);
}

.show {
    width: 30px;
}

.Second-filter select {
    width: 105%;
    height: 40px;
    border: none;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 4px 7px #707070;
    padding: 12px 30px;

}



.container {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    margin-left: 3%;
}

.cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 10px);
    margin-top: 7px;
    margin-bottom: 20px;
}

.colors {
    display: flex;
    cursor: pointer;
    margin: 15px 0;
}

.white {
    background-color: #fff;
    border: #181818 .5px solid;
}

.yellow {
    background-color: #D1BB3F;
}

.black {
    background-color: #181818;
}

.blue {
    background-color: #2F6AA2;
}

.grey {
    background-color: #95A5A6;
}

.green {
    background-color: #6AB04C;
}

.orange {
    background-color: #FF9331;
}

.red {
    background-color: #AA071E;
}

.white,
.yellow,
.green,
.black,
.blue,
.grey,
.red,
.orange {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
}

li div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 30%;
}


div p {
    font-size: 12px;
    color: #95A5A6;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mrgn {
    margin-top: 100px
}

.simg {
    margin-bottom: -10%
}

.bigimg {
    margin-top: 5%;
    margin-bottom: 5%
}


h2 {
    font-size: 20px;
    color: #181818;
}

a h2:hover {
    color: #6AB04C
}


h3 {
    color: #6AB04C;
    font-size: 12px;
}

.speed {
    display: flex;
    margin-top: 2%;

}

.speed li {
    font-size: 10px;
    color: #95A5A6;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}


footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #95A5A6;
    height: 130px;
    margin-left: 5%
}

.address {
    display: flex;
    justify-content: space-between;

}

.cont {
    color: #95A5A6;
    margin: 0 5px;
}

.cont:hover {
    color: #6AB04C;
}